  <!-- ======================   NAV  ================== -->
    <div class="navContainer">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="#page-top" id="navTitle">COLLABORATE</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#" class="rightNav" id="providerHome" style="color: white"> Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#" class="rightNav" id="documentsPage" style="color: white"> Documents </a>
                        </li>
                        <li class="page-scroll">
                            <a href="#" class="rightNav" id="logout" style="color: white"> Logout </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--  Header/Title   -->
    <header>
        <div id="headerBanner">
            <div class="col-lg-12 text-center">
                <h1 id="title"> WELCOME!</h1>
            </div>
        </div>
    </header>




    <!-- ======================   Dashboard  ================== -->
    <section class="success" id="about">
        <div class="container">



            <form>
                <div class="form-group row" id="patientSearch">
                    <label for="example-search-input" class="col-2 col-form-label"> Patient Search</label>
                    <div class="col-10">
                        <input class="form-control" type="search" value="How do I shoot web" id="example-search-input patientSearchInput">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>




            <div class="row">
                <div id="leftDash">
                    <div class="col-lg-4  boxColor">
                        <h2 id="subtitle">Your Patients</h2>
                        <p>Freelancer is a free bootstr theme created by Start Bootstrap. The download includes the complete source files in Bootstrap. The download includes the complete source files in Bootstrap. The download includes the complete source
                            files in Bootstrap. The download includes the complete source files in Bootstrap. The download includes the complete source files in Bootstrap. The download includes the complete source files in Bootstrap. The download includes
                            the complete source files in Bootstrap. The download includes the complete source files in Bootstrap. The download includes the complete source files in Bootstrap. The download includes the complete source files including HTML,
                            CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                    </div>
                </div>
                <div id="righttDash">
                    <div class="col-lg-7 col-lg-offset-1 boxColor">
                        <h2 id="subtitle">Your Collaborators</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-inverse">
                                    <tr>

                                        <th> Name </th>
                                        <th> Phone </th>
                                        <th> Email </th>
                                        <th> Specialty </th>
                                        <th> Setting </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>pull in name</td>
                                        <td>pull in phone</td>
                                        <td>pull in email</td>
                                        <td>pull in specialty</td>
                                        <td>pull in setting</td>

                                    </tr>
                                    <tr>
                                        <td>pull in name</td>
                                        <td>pull in phone</td>
                                        <td>pull in email</td>
                                        <td>pull in specialty</td>
                                        <td>pull in setting</td>

                                    </tr>
                                    <tr>
                                        <td>pull in name</td>
                                        <td>pull in phone</td>
                                        <td>pull in email</td>
                                        <td>pull in specialty</td>
                                        <td>pull in setting</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!Whether you're a student looking
                                to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!Whether you're a student looking to showcase your work, a
                                professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!Whether you're a student looking to showcase your work, a professional looking to
                                attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic
                                artist looking to share your projects, this template is the perfect starting point!</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <div class="col-lg-12 text-center">
        <h1 id="title" style="font-size: 70px"> Most Recent Documents for ___________!</h1>
    </div>
