            body {
                background-image: url('../img/background2.jpg');
                background-size: cover;
            }
            /*=============login page========================= */
            
             ::selection {
                background-color: #b5e2e7;
            }
            
             ::-moz-selection {
                background-color: #8ac7d8;
            }
            
            .container {
                display: -webkit-flex;
                display: flex;
                height: 100%;
            }
            
            .logbox {
                padding: 10px;
                margin: 50px auto;
                width: 340px;
                background-color: #fff;
                opacity: 0.9;
                -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
                border-width: 3px;
                border-style: groove;
                border-color: black;
                font-family: 'Acme', sans-serif;
            }
            
            #createAccountBox {
                width: 540px;
            }
            
            h1 {
                text-align: center;
                font-size: 175%;
                color: #757575;
                font-weight: 300;
            }
            
            h1,
            input {
                font-family: 'Acme', sans-serif;
            }
            
            .input {
                width: 75%;
                height: 50px;
                display: block;
                margin: 0 auto 15px;
                padding: 0 15px;
                border: 2px solid #ebebeb;
                border-bottom: 2px solid #ebebeb;
                background-color: whitesmoke;
            }
            
            .input:focus {
                outline: none;
                border-bottom-color: #3CC !important;
            }
            
            .input:hover {
                border-bottom-color: #dcdcdc;
            }
            
            .input:invalid {
                box-shadow: none;
            }
            
            .pass:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px white inset;
            }
            
            .inputButton {
                position: relative;
                width: 85%;
                height: 50px;
                display: block;
                margin: 30px auto 30px;
                color: white;
                background-color: #3CC;
                border: none;
                -webkit-box-shadow: 0 5px 0 #2CADAD;
                -moz-box-shadow: 0 5px 0 #2CADAD;
                box-shadow: 0 5px 0 #2CADAD;
            }
            
            .inputButton:hover {
                top: 2px;
                -webkit-box-shadow: 0 3px 0 #2CADAD;
                -moz-box-shadow: 0 3px 0 #2CADAD;
                box-shadow: 0 3px 0 #2CADAD;
            }
            
            .inputButton:active {
                top: 5px;
                box-shadow: none;
            }
            
            .inputButton:focus {
                outline: none;
            }
            /* ======== MY EDITS ======= */
            
            #title {
                text-align: center;
                text-transform: uppercase;
                text-shadow: 5px 2px #3CC;
                font-family: 'Luckiest Guy', cursive;
                font-size: 90px;
                background-color: #fff;
                /*                -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
            }
            
            #btnEdit {
                font-size: 20px;
                letter-spacing: 2px;
            }
            
            #headerBanner {
                border-width: 3px;
                border-style: groove;
                border-color: black;
                background-color: white;
                opacity: 0.9;
                width: 95%;
                margin: auto;
                margin-top: 3%;
            }
            /* ------TABLET WIDTH------- */
            
            @media screen and (max-width: 768px) {}
            
            @media screen and (max-width: 640px) {}
            
            @media screen and (max-width: 480px) {}