        body {
            background-image: url(../images/medical.jpg)
        }
        
        #wrapper {
            width: 960px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 5%;
        }
        
        #articles {
            display: inline-block;
            overflow: auto;
            width: 60%;
            height: 700px;
        }
        
        #notes {
            float: right;
            width: 30%;
        }
        
        textarea,
        input {
            display: block;
            width: 100%;
            background-color: lightgrey;
        }
        
        input {
            height: 36px;
            font-size: 24px;
        }
        
        textarea {
            height: 200px;
            font-size: 18px;
        }
        
        #mainNav {
            background-color: black;
            color: white
        }
        /* ====  Landing Page  === */
        
        #title {
            text-align: center;
            text-transform: uppercase;
            text-shadow: 3px 2px lightskyblue;
        }